<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<object width='550' height='400'><param value='true' name='autostart'><param value='true' name='loop'><param value='high' name='quality'><embed width='550' height='400' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' quality='high' src='http://www.gan91.com/media/player/emgan91.swf?video_id=18888&amp;hlnk=1&amp;hurl=1&amp;hlogo=1'></object>
</body>
</html>