<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<div id='p_player_0' style='display: block; margin: 5px 0pt 0pt 2px;'><object width='550' height='400'><param value='true' name='autostart'><param value='true' name='loop'><param value='high' name='quality'><embed width='550' height='400' pluginspage='http://www.macromedia.com/go/getflashplayer' type='application/x-shockwave-flash' quality='high' src='http://91.bestchic.com/91chic.swf?autoplay=false&video_id=36705&mp4=0'></object></div>
</body>
</html>